
.details{
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .try{
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBsP6WNxOKDegx_T37_ecuwvKlwLk4cyeo--1wIXIaFFJpovtn');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height:850px;
  
}
.container{
  background-color:greenyellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

