<div class="form-group">
  <div class="container">
    <h1> Quotes</h1>
    <form (ngSubmit)='submitQuote()'  #quoteForm="ngForm">
      <div class="form-group">
        <label >Author</label>
        <input type="text" class="form-control" id="author" required  #author="ngModel" [class.is.invalid]="author.invalid && author.touched"
        [(ngModel)]="newQuote.author" name="author">
        <small class="text-danger" [class.d-none]="author.valid ||author.untouched">  Author is required</small>
      </div>

      <div class="form-group">
        <label >submitter</label>
        <input type="text" class="form-control" id="submiter" required #submitter='ngModel'[class.is.invalid]="submitter.invalid && author.touched" [(ngModel)]="newQuote.submiter" name="submitter">
        <small class="text-danger" [class.d-none]="submitter.valid ||submitter.untouched">  Submitter is required</small>
      </div>

      <div class="form-group">
        <label >quote</label>
        <textarea class ="form-control" id="quote" rows="4" required #qoute='ngModel' [(ngModel)]= "newQuote.quote" name="quote"></textarea>
        <!-- <small class="text-danger" [class.d-none]="quote.valid ||quote.untouched">  Quote is required</small> -->
      </div>

      <button (onClick)='submitQuote()'type="submit" class="btn btn-success">add Quote</button>

    </form>
  </div>
</div>
